﻿body {
    margin: 0;
}

.left {
    position: absolute;
    left: 0;
    right: 50%;
    margin-right: 700px;
    background-color: lightblue;
    height: 1000px;
}

.right {
    position: absolute;
    left: 50%;
    top:0;
    right: 0;
    margin-left: 700px;
    background-color: lightpink;
    bottom: 0;
    height: 1000px;
}

.content {
    position: relative;
    width: 1400px;
    margin-left: 50%;
    left:-700px;
    height: 1000px;
    font: italic 18pt/16pt sans-serif;
}

header {
    height: 333.33333333px;
    background-color: #f08080;
}

figure {
    height: 333.33333333px;
    margin: 0;
    float:left;
}

.cel4 {
    background-color: #bc8f8f;
    width: 36%;
}

.cel5 {
    background-color: lightgrey;
    width: 34%;
}

.cel6 {
    background-color: orange;
    width: 30%;
    text-align: center;
}

.cel7{
    background-color: #d8bfd8;
    width: 36%;
    text-align: center;   
}

.cel8 {
    background-color: lightyellow;
    width: 64%;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .content{  
        left: 0;
        margin-left: 0;
    }
}
@media screen and (max-width: 640px) {
    .cel4{
        width: 100vw;
    }
    .cel5 {
        width: 100vw;
    }
    .cel6 {
        width: 100vw;
    }
    .cel7 {
        width: 100vw;
    }
    .cel8 {
        width: 100vw;
    }
    header{
        width: 100vw;         
    }
    .content{  
        max-width: 100vw;
        font: italic 13pt/14pt sans-serif;
    }
}

@media screen and (max-width: 300px) {
    .content{  
        font: italic 9pt/10pt sans-serif;
    } 
}
@media screen and (max-width: 150px) {
    .content{  
        font: italic 7pt/8pt sans-serif;
    } 
}
@media screen and (max-width: 100px) {
    .content{  
        font: italic 4pt/5pt sans-serif;
    } 
}